@model MovieViewModel

<h2>Delete Movie</h2>

<p>Are you sure you want to delete the movie with the following details?</p>

<div>
    <h4>Title: @Model.Title</h4>
    <p>Release Year: @Model.ReleaseYear</p>
    <p>Genre: @Model.Genre</p>
    <p>Description: @Model.Description</p>
    <p>Rating: @Model.Rating</p>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <a asp-controller="Movie" asp-action="DeleteConfirmed" class="btn btn-primary mx-1">Delete</a>
        <a href="@Url.Action("Index")" class="btn btn-secondary">Cancel</a>
    </div>
}

